body{
    background-image: url("aesthetic-minimal-white-grid-pattern-wallpaper_53876-96916.avif");
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    
}
